:root{
    --main-yellow-color: #FFB800;
    --main-red-color: #dd1227;
    --main-blue-color: #002078;
    --main-dark-color: #0B0600;
}

.w1440{
    max-width: 1440px;
    margin: 0 auto;
}
.w100{
    width: 100%;
}
.flex{
    display: flex;
}
.strong{
    font-weight: 800;
}